<article class="mb-3">

<time datetime="<%= @answer.formatted_created_at%>">
  <small><%= @answer.formatted_created_at %></small>
</time>

<p>
  <%= @answer.body %>
</p>

<%= link_to "Back", question_path(@question), class: 'btn btn-primary' %>

</article>