@import 'bootstrap/scss/bootstrap.scss';
@import 'tom-select/dist/scss/tom-select.bootstrap5';

.field_with_errors {
  .form-control {
    border-color: $red;
  }
  label {
    color: $red;
  }
}
.flag {
  background: url('../images/flags.png') no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  text-indent: -9999px;
}

.ru-flag { background-position: -144px -176px }
.en-flag { background-position: -192px -64px }

.nav {
  .flag {
    position: relative;
    top: 3px;
  }
}
